PORT=3000
MONGO_URL=your_mongodb_connection_string
JWT_SECRET_KEY=your_jwt_secret_key
REFRESH_TOKEN=your_refresh_token_secret
STRIPE_SECRET_KEY=your_stripe_secret_key
cloud_Name=your_cloudinary_cloud_name
API_key=your_cloudinary_api_key
API_secret=your_cloudinary_api_secret
RESEND_API_KEY=your_resend_api_key
FRONTEND_URL=http://localhost:5173
