PORT=3000
MONGO_URL=mongodb+srv://<username>:<password>@cluster0.jljjs85.mongodb.net/?appName=Cluster0
JWT_SECRET_KEY=<your-jwt-secret-key>
REFRESH_TOKEN=<your-refresh-token-secret>
STRIPE_SECRET_KEY=<your-stripe-secret-key>
cloud_Name=<your-cloudinary-cloud-name>
API_key=<your-cloudinary-api-key>
API_secret=<your-cloudinary-api-secret>
RESEND_API_KEY=<your-resend-api-key>
FRONTEND_URL=http://localhost:5173
